.projects-page{
    height: 100%;
    display: block;
    padding: 0 5rem;
    overflow: auto;
    @media (max-width: 480px) {
        padding-top: 0;
        padding-bottom: 2rem;
        padding-left: 6rem;
        padding-right: 4rem;
    }
    span{
        margin-bottom: 0;
    }
    h1{
        font-size: 4rem;
        color: #F0A500;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        @media (max-width: 480px) {
            font-size: 3rem;
        }
    }
    div{
        margin: 0;
        padding: 0;
    }
    .grid{
            width: 80%;
            height: 75%;
            margin: 0 auto;
            margin-bottom: 2rem;
        }
        .text-animate-hover{
            &:hover{
                color: #FFFFFF;
                
    
            }
        }
    li{
        font-size: 1rem;
    }
}